<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<div class="new-user">
  <h2>Login</h2>
</div>  

<div class="field">
    
  <%= form_tag '/login' do %>
    <p>Email: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %></p><br>
    <%= submit_tag "Login", class: "btn btn-primary" %>
  <% end %> <br>
  
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>

</div>
