<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Login</h1>

<div class-"field">
    
  <%= form_tag '/login' do %>
    Email: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag "Login" %>
  <% end %> <br>
  
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>

</div>
