<!-- <p id="notice"><%= notice %></p> -->

<% if current_user.id == @user.id %>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Party Affiliation: <%= @user.party_affiliation %></li>
  <li>City: <%= @user.city %></li> 
  <li>State: <%= @user.state %></li>
  <li>Zip: <%= @user.zip %></li> 
</ul>  
  
  <p>Events You have signed up for:</p>
  <ul>
    <% @user.attending_events.uniq.each do |event| %>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>  
  </ul>  
  <p>Events you have created</p> 
  <ul>
    <% @user.created_events.each do |e| %>
      <li><%= link_to e.title, event_path(e) %></li>
    <% end %>  
  </ul>  

  Events in your state:
  <ul>
    <% @events.each do |event| %>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %><br>
  </ul>
  
  Your Statements:
  <ul>
    <% @user.statements.each do |statement| %>
      <%= link_to statement.headline, user_statement_path(@user, statement) %>
    <% end %>  
  </ul>  
  
<%= link_to "Sign out", signout_path %>


<% else %>  
  You are not authorized to view this page
<% end %>


  

  
