<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(statement) do |f| %>
      <% if statement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

    <%= f.label :headline %> 
    <%= f.text_field :headline, class: "form-control" %><br>
  
    <%= f.text_area :content, class: "form-control", rows: "20", placeholder: "Write statement here" %>

  <h4>Categories</h4>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <p>Or Create a New Category</p>
  <p>
    <%= f.fields_for :categories, @statement.categories.build do |ff| %>
      <%= ff.text_field :name, allow_blank: false %>
    <% end %>  
  </p>  
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>  

<% end %> 