<h1>Editing <%= @statement.headline %></h1>

<%= form_for @statement  do |f| %>
  <%= f.label :headline %>
  <%= f.text_field :headline %><br>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br />

  <%= f.submit %>
<% end %>