<div class="new-event">  
  <div class="col-md-8 col-md-offset-2">
  <h2>Resistance Statement</h2>
  </div>
</div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= @statement.headline%></h2>
            <p class="blog-post-meta"><%=@statement.created_at.strftime("%m-%d-%Y") %> by <%= display_user(@statement) %></p>
            <p><%= @statement.content %></p>
          <% if current_user == @statement.user %>
            <%= link_to "Edit Statement", edit_statement_path(@statement) %><br>
          <% end %><br>

<div class="categories">
  <p>Categories: <% @statement.categories.collect do |category| %>
    <%= link_to category.name, category_path(category) %>
  <% end %></p>
</div>

<%= form_for(@comment, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <%= f.hidden_field :statement_id, value: @statement.id %>

  <div class="form-group">

    <div class="col-sm-8">
      <%= f.text_area :content, rows: 3, class: "form-control", placeholder: "Enter comment here", autofocus: true %>
    </div>
  </div>    
  <p><%= f.submit class: "btn btn-primary" %></p>
<% end %>


<div class="comments">
  <ul>
    <% @statement.comments.each do |comment| %>
      <% binding.pry %>
      <li><p><b><%= comment.user_name %> Says:</b> <%= comment.content %></p></li>
    <% end %>  
  </ul>  
</div>

<%= link_to "All Statements", statements_path %><br>

<%= link_to "Delete statement", statement_path(@statement),
                                              method: :delete,
                                              data: { confirm: 'Are you sure?' } %>