<h2>Create a New Event On Organized Resistance</h2>
<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">

  <form>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>   

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_event %>
      <%= f.date_field :date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :time %>
      <%= f.time_field :time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location_name %>
      <%= f.text_field :location_name, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :street_address %>
      <%= f.text_field :street_address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control" %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button> 
  </form>  
</div>  
<% end %>



