<% if @events != nil %>
  <h3><%= @user.name %>'s events</h3>
  <ul>
    <% @events.each do |event| %>
      <li><p><%= link_to event.title, user_event_path(@user, event) %></p></li> 
    <% end %>  
  </ul>
<% else %>  

<div class="date-events">
  Future Events
</div>  
  <ul>
    <% @future_events.each do |event| %>
      <li><p>Title: <%= link_to event.title, event_path(event) %></p></li> 
      <li><p>Date: <%= event.date %></p></li>
      <li><p>Time: <%= event.time.strftime("%l:%M %p") %></p></li>
      <li><p>Description <%= event.description %></p></li>
      <li><p>Creator: <%= link_to event.creator.name, user_path(event.creator) %></p>  </li><br>
      <%= button_to 'Attend This Event', event_attendees_path(event_id: event), class: 'btn-group' %><br>
    <% end %>   
  </ul>  

<div class="date-events">
  Past Events
</div>  
  <ul>
    <% @past_events.each do |event| %>
      <li><p>Title <%= link_to event.title, event_path(event) %></p></li> 
      <li><p>Date: <%= event.date %></p></li>
      <li><p>Description <%= event.description %></p></li>
      <li><p>Creator: <%= event.creator.name %></p></li>
    <% end %>  
  </ul> 
<% end %>