<h2>Future Events</h2>
<ul>
  <% @future_events.each do |event| %>
    <li>Title: <%= link_to event.title, event_path(event) %></li> 
    <li>Date: <%= event.date %></li>
    <li>Description <%= event.description %></li>
    <li>Creator: <%= link_to event.creator.name, user_path(event.creator) %></li><br>
    <%= button_to 'Attend This Event', event_attendees_path(event_id: event) %><br>
  <% end %>  
</ul>  

<h2>Past Events</h2>
<ul>
  <% @past_events.each do |event| %>
    <li>Title <%= link_to event.title, event_path(event) %></li> 
    <li>Date: <%= event.date %></li>
    <li>Description <%= event.description %></li>
    <li>Creator: <%= event.creator.name %></li>
  <% end %>  
</ul>