<div class="new-event">
  <h2>Event</h2>
</div> <br> 

<ul>
  <div class="title">
    <li><p>Title: <%= @event.title %></p></li>
  </div>
  <li><p>Creator: <%= link_to @event.creator.name, user_events_path(@event.creator)%></p></li>   
  <li><p>Description:  <%= @event.description %></p></li> 
  <li><p>Location:  <%= @event.location_name %></p></li>
  <li><p>Address:  <%= @event.street_address %></p></li>
  <li><p>City:  <%= @event.city %></p></li> 
  <li><p>State:  <%= @event.state %></p></li>  
  <li><p>Attendees:</b> <%= @event.attendees.count %></p></li>
</ul> <br>

  <% if current_user.id == @event.creator.id %>
    <%= link_to "Edit event details", edit_event_path(@event) %><br>  
  <% else %>
    <%= button_to 'Attend This Event', event_attendees_path(event_id: @event), class: "btn-group" %>
  <% end %><br>

<div class="attend">
  <% if @event.attending? %>
    <p>You have signed up for this event</p> 
  <% end %>
</div>  






