<h1>Events</h1>
<ul>
  <li><%= @event.title %></li> 
  <li><%= @event.creator.name %></li> 
  <li><%= @event.subject %></li> 
  <li><%= @event.description %></li> 
  <li><%= @event.location_name %></li>
  <li><%= @event.street_address %></li>
  <li><%= @event.city %></li> 
  <li><%= @event.state %></li>
  <li><%= @event.zip %></li>
</ul>  

<%= button_to 'Attend This Event', event_attendees_path(event_id: @event) %>



