<h1>Events</h1>
<ul>
  <li><%= @event.title %></li> 
  <li><%= @event.creator.name %></li> 
  <li><%= @event.subject %></li> 
  <li><%= @event.description %></li> 
  <li><%= @event.location %></li>
</ul>  

